<div class="col-md-8 jumbotron allAds" data-ng-controller="HomeController">

    <h3>User ads</h3>

    <div ng-repeat="ad in data.ads | filter: {'categoryId':categoryId}:true"
         class="well row adContainer">

        <a href="#/ads/{{ad.id}}/{{ad.categoryId}}">
            <div class="row">
                <div class="col-md-8">
                    <p>{{ad.title}}</p>
                </div>
                <div class="col-md-4">
                    <p> {{ad.date | date: 'd-MMM-yyyy'}}</p>
                </div>
            </div>

            <img src="" class="img-thumbnail col-md-5"
                 ng-src="{{ad.imageDataUrl}}" ng-if="ad.imageDataUrl">
            <img src="" class="img-thumbnail col-md-5"
                 ng-src="../../images/No_image.png" ng-if="!ad.imageDataUrl">

            <div class="well col-md-7">
                <div class="well-sm "><strong>Text:</strong> {{ad.text}}</div>
                <div class=" well-sm"><strong>Name:</strong> {{ad.ownerName}}</div>
                <div class="well-sm"><strong>Email:</strong> {{ad.ownerEmail}}</div>
                <div class="well-sm"><strong>Tel.</strong> {{ad.ownerPhone}}</div>
            </div>

        </a>
    </div>
</div>

<div class="col-md-2  rightNav">
    <div class="row" ng-controller="CategoriesCntr">
        <div class="col-md-12 well">
            <h3 class=""><u>Navigation</u></h3>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#/home" ng-click="filterById()" class="navbar-brand">All</a>
                </li>
                <li ng-repeat="cat in categories">
                    <a href="#/{{cat.id}}" ng-click="filterById(cat.id)" class="navbar-brand">{{cat.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-controller="TownController">
        <div class="col-md-12 well">

            <h3 class=""><u>Towns</u></h3>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#/home" class="navbar-brand">All</a>
                </li>
                <li ng-repeat="town in towns">
                    <a href="#/{{town.id}}" class="navbar-brand">{{town.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

