<div class="jumbotron col-md-7 loginForm "  >
    <form name="loginForm"
          class="form-horizontal" ng-hide="identity.isAuthenticated()">
        <fieldset>
            <legend>Login</legend>

            <div class="form-group">
                <div class="col-md-10">
                    <label for="logUsername" class=" control-label">Username</label>
                    <input type="text" class="form-control" id="logUsername" ng-model="user.username"
                           placeholder="Username" autocomplete="off" required="required"
                           style="cursor: auto;
                                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label for="logPassword" class=" control-label">Password</label>
                    <input type="password" class="form-control" ng-model="user.password"
                           id="logPassword" placeholder="Password" autocomplete="off" required="required"
                           style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-5">
                        <a href="#/" class="btn btn-default">Cancel</a>
                        <button ng-click="login(user,loginForm)"
                                ng-disabled="loginForm.$invalid || loginForm.$pristine"
                                class="btn btn-primary">Login
                        </button>
                    </div>
                    <div class="col-md-3 ">
                        <a href="#/register" class="btn btn-primary btn-xs btn-warning">Register here</a>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <div ng-show="identity.isAuthenticated()"  data-ng-init="init()" class="row">
        <div class="col-md-9" ng-class="">Hi
            <span id="logUser" >{{ identity.getCurrentUser().username }}</span> !
        </div>
        <div class="col-md-3">
            <a href="#/home" id="logOut" class="btn btn-warning" ng-click="logout()">Logout</a>
        </div>
    </div>
</div>